$color1: #000;
$color2: #eee;
$color3: #00FFFF;
$color4: #ddd;
$color5: #333;

@font-face {
    font-family: 'neogreyregular';
    src: url('../fonts/neogreyregular-webfont.eot');
    src: url('../fonts/neogreyregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neogreyregular-webfont.woff2') format('woff2'),
         url('../fonts/neogreyregular-webfont.woff') format('woff'),
         url('../fonts/neogreyregular-webfont.ttf') format('truetype'),
         url('../fonts/neogreyregular-webfont.svg#neogreyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin ng-show-hide {
    &.ng-hide-remove {
        opacity: 0;
        display: block !important;

        &.ng-hide-remove-active {
            opacity: 1;
        }
    }

    &.ng-hide-add {
        opacity: 1;
        display: block !important;

        &.ng-hide-add-active {
            opacity: 0;
        }
    }
}

body {
    margin: 0;
    background: $color1;
    font-family: 'neogreyregular';
}
h1 {
    font-weight: normal;
    font-size: 48px;
}
#webGLWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -960px;
        margin-top: -478px;
    }
}

#logo-intro {
    background: url(../images/wav_logo.png) center center no-repeat;
    position: absolute;
    width: 651px;
    height: 160px;
    top: 50%;
    left: 50%;
    margin-left: -334px;
    margin-top: -46px;
    transition: 0.5s ease-in opacity;
    @include ng-show-hide;
}
.wrapper {
    width: 960px;
    margin: 0px auto;
    position: relative;
    &:after {
        clear: both;
        display: block;
        content: '';
    }
}
#heading {
    padding: 20px;
    box-sizing: border-box;
    background: $color2;
    font-family: 'neogreyregular';
    // border-bottom: 4px solid $color3;
}
#contact {
    z-index: 100;
    color: #00ffff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-transform: uppercase;
    font-family: 'neogreyregular';
    letter-spacing: 1px;
}
