<!-- <div ng-controller="3dLogoCtrl"> -->
<!-- <audio preload autobuffer id="player" src="szetbasz5break4.mp3"></audio> -->
<!-- <audio preload autobuffer id="player" src="irtam1szart.mp3"></audio> -->

<div>
    <div ng-controller="MainCtrl">
        <div id="webGLWrapper"></div>
        <div id="logo-intro" data-ng-show="introEnd"></div>
    </div>
    <div id="contact">contact@wavetrip.org</div>
    <!-- <header ng-controller="header3dLogoCtrl">
        <div id="webGLHeaderWrapper" ></div>
        <div class="wrapper">
            <img src="images/wav_logo_small.png"/>
            <div id="subtitle" class="right">wavetrip audiovisual</div>
        </div>
    </header> -->

    <!-- <div id="heading">
        <div class="wrapper">
            <div class="left">
                <h1>Hello</h1>
                Does this hurt your eye? GOOD!<br>
                <a href="#">what is this?</a>
            </div>
            <div class="right">
                <span class="icon icon-speaker"></span>
                <span class="icon icon-eye"></span>
                <span class="icon icon-favorite"></span>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="wrapper">

        </div>
    </div> -->
    <!-- <footer>
        <a href="#" class="menu1">menu 1</a>
        <a href="#" class="menu2">menu 2</a>
        <a href="#" class="menu3">menu 3</a>
        <a href="#" class="menu4">menu 4</a>
        <a href="#" class="menu5">menu 5</a>
    </footer> -->
</div>
